<% layout('layouts/boilerplate')%>

<h1>ABOUT</h1>

<p>
    This website is not affliated with California State Parks, it's just an unofficial web site about California parks
    community website made by people who enjoy the local parks in the San Francisco Bay Area. 
    Ever had any questions about parking (and parking fees), 
    scenic views, best season and time of day to go, bathrooms, vendors, and operating hours? 
    Hopefully, this is the website to check. Think of it as a Yelp! or Wikipedia for local parks.
    Add a review or make a post about a park. 
    
</p>