<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <form action="/parks/<%= park._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="park[title]" value="<%= park.title %>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="park[location]" value=<%= park.location %>>
    </div>
    <button>Save Edits</button>
    </form>
    <a href="/parks/<%= park._id %>">Back to Park</a>
    <footer>
        <button><a href="/parks">Back to All Parks</a></button>
    </footer>
</body>
</html>