<% layout('layouts/boilerplate') %>
    <form action="/parks" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="park[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="park[location]">
    </div>
    <button>Add Park</button>
    </form>
    <footer>
        <a href="/parks">Back to All Parks</a>
    </footer>
