<% layout('layouts/boilerplate') %>

    <form action="/parks" method="POST" class="needs-validation" novalidate enctype="multipart/form-data" >
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="park[title]"  aria-describedby="title" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div id="title" class="invalid-feedback">
            Please provide a park title.
          </div>
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="park[location]" aria-describedby="location" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div id="location" class="invalid-feedback">
            Please provide a location.
          </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload Photos</label>
      <input class="form-control" type="file" id="image" name="image" multiple>
    </div>
    
    <div>
        <label for="price">Price: $</label>
        <input type="number" id="price" name="park[price]" value="0">
    </div>
   
    <div>
        <label for="description">Description</label>
        <textarea type="text" id="description" name="park[description]" aria-describedby="description" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a park description.
          </div>
    </div>
    <button>Add Park</button>
    </form>
    <footer>
        <a href="/parks">Back to All Parks</a>
    </footer>

